<div class="map_wrapper">



<div id="map"></div>
<nav class="map_nav_div cf">
  <img id="logo" src="/assets/logo.png" alt="logo">
  <ul id="map_nav">
    <li><a href="/"> Home </a> </li>
    <li><a href="/About"> About </a></li>

    <li><a href="/contact"> Contact Us </a></li>
  </ul>
</nav>
<script type="text/javascript">
  var locations = [];
  var count = 0;
  {{#each yelp_locations}}
    locations.push(['{{{this.info}}}', {{this.lat}}, {{this.long}}, count++]);
  {{/each}}
  var center = {
    lat: {{coord.lat}},
    lon: {{coord.lon}}
  };
</script>
<script src="/script.js"></script>
<script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7gp3k7_SKrZ39HfnEXkFsUaLNC1YpS0o&callback=initMap"></script>

</div>
