<div class="table_wrapper">

  <nav class="table_nav_div cf">
    <a href="/"><img id="table_logo" src="/assets/logo.png" alt="logo"></a>
    <ul id="table_nav">
      <li><a href="/"> Home </a> </li>
      <li><a href="/about"> About  </a></li>
      <li><a href="/contact"> Contact Us  </a></li>

    </ul>
  </nav>

<div class="toggle"><a href="/map"><button>Map View</button></a></div>
<table >

  <tr>
    <th class="table_first_row"> Name </th>
    <th class="table_first_row"> <span class="normal_th">Rating</span> <span class="mobile_th">&#9734;</span> </th>
    <th class="table_first_row"> <span class="normal_th">Price</span> <span class="mobile_th">$</span> </th>
    <th class="table_first_row"> Close to stop </th>
    <th class="table_first_row"> Link </th>
  </tr>
  {{#each locations}}

  <tr>
    <td class="name_td"> {{this.name}}</td>
    <td> {{this.rating}} </td>
    <td> {{this.price}}</td>
    <td> {{this.stop_name}}</td>
    <td class="name_url"> <a href="{{this.url}}"> Go to Yelp </a> </td>
  </tr>

  {{/each}}

</table>




</div>
